nav {
    background-origin: padding-box;
    overflow: hidden;
    background-color: hsl(50, 30%,50%);
    border-radius: 10px;
    box-shadow: 4px 4px black;
    width: 28%;
}
nav a {
    display: block;
    color: white;
    float: left;
    padding: 14px 16px;
    text-decoration: none;
}
footer a {
    display: block;
    color: black;
    float: left;
    padding: 12px 12px;
    text-decoration: none;
    background-image: linear-gradient(hsl(40, 100%, 70%), hsl(30, 100%, 80%));
    border-radius: 10px;
    box-shadow: 4px 4px black;
    overflow: hidden;
}

.active {
    background-color: #04AA6D;
}

a:hover:not(.active) {
    background-color: hsl(20, 30%,50%);
}

footer a:hover:not(.active) {
    background-image: linear-gradient(hsl(10, 100%, 70%), hsl(30, 100%, 80%));
}

body{
    background-color: beige;
}

input {
    margin: 5px;
    width: 20%;
    border-radius: 5px;
}

#dataLbl {
    margin: 5px;
    font-size: 14px;
}

tr {
    background-color: white;
}

table {
    background-color: hsl(240, 100%, 95%);
}

#drop1, #drop2 {
    border: 3px solid black;
    width: 100px;
    height: 200px;
    float: left;
    margin-right: 10px;
    background-color: lightgray;
}

#item1, #item2, #item3 {
    border: 2px solid black;
    width: 50px;
    height: 50px;
    margin: 10px auto;
    text-align: center;
    line-height: 50px;
    border-radius: 40px;
}

#item1{
    background-color: red;
}
#item2 {
    background-color: green;
}
#item3 {
    background-color: yellow;
}
#interactive {
    float: left;
    clear: left;
    margin: 5px;
}

#map {
    height: 250px;
    width: 300px;
}